<br>
<p>1. Devise integration</p>
<p>2. Facebook integration </p>
<p>3. Parsing plain HTML File</p>
<%= link_to "Parse File",parsehtmlfile_path,:remote => true,:class => "btn btn-primary", :id =>"btnparsefile"%> | <%= link_to "View File",viewfile_path,:target => :blank %>
<div class="row">
	<div class="col-sm-12" id="htmloutput"></div>
</div>